<h4>Decking Pricing</h4>
    <table>
        <tr>
            <th>Product</th>
            <th>Cost</th>
            <th>UOM</th>
            <th>Cost PSF</th>
            <th>Uom</th>
            <th>Sale Price</th>
            <th>Decking Ext. Total</th>
        </tr>
        <tr>
            <td>Select</td>
            <td><input type="text" ng-model="jobData.selectCost" /></td>
            <td>PLF</td>
            <td>{{ selectCostPSF()}}</td>
            <td>PSF</td>
            <td>{{ selectSalePrice() }}</td>
            <td>{{ selectDeckingExtTotal()}}</td>
        </tr>
        <!-- <tr>
            <td>Enhance</td>
            <td><input type="text" ng-model="jobData.enhanceCost" /></td>
            <td>PLF</td>
            <td>{{ enhanceCostPSF() | currency }}</td>
            <td>PSF</td>
            <td>{{ enhanceSalePrice() | currency }}</td>
            <td>{{ enhanceDeckingExtTotal() | currency }}</td>
        </tr>
        <tr>
            <td>Transcend</td>
            <td><input type="text" ng-model="jobData.transcendCost" /></td>
            <td>PLF</td>
            <td>{{ transcendCostPSF() | currency }}</td>
            <td>PSF</td>
            <td>{{ transcendSalePrice() | currency }}</td>
            <td>{{ transcendDeckingExtTotal() | currency }}</td>
        </tr>
        <tr>
            <td>Tropics</td>
            <td><input type="text" ng-model="jobData.tropicsCost" /></td>
            <td>PLF</td>
            <td>{{ tropicsCostPSF() | currency }}</td>
            <td>PSF</td>
            <td>{{ tropicsSalePrice() | currency }}</td>
            <td>{{ tropicsDeckingExtTotal() | currency }}</td>
        </tr> -->
    </table>